<html>
  <head>
  <style>
@media screen and (max-width: 610px) {
.header .container .navbar {
  width: 80%;
  margin: 0 50px 30px;
  position: fixed;
}

.header .navbar .Home img {
  float: left;
  width: 8%;
  height: 90px;
  margin-top: 10px;
  margin-left: 150px;
}

.header .navbar .Menu {
  float: right;
  margin-top: 20px;
  margin-right: 150px;
}

.header .navbar .Menu .category{
         display: inline-block;
         position: relative;
         margin: 0 10px;
         z-index: 12;
}

.category .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.category:hover .overlay {
  opacity: 1;
}

.text {
  font-family: "Cabin Sketch";
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow:
    0 0 5px #ff002b,
    0 0 10px #ff002b,
    0 0 20px #ff002b,
    0 0 40px #ff0000,
    0 0 80px #ff0000,
    0 0 90px #ff0000,
    0 0 100px #ff0000,
    0 0 150px #ff0000;
  text-align: center;
}

.clearfix {
  clear: both;
}

.acceuil {
  text-align: center;
  margin: 170px auto 170px;

}

.acceuil p {
  font-family: "Annie Use Your Telescope";
  font-size: 70px;
  font-style: bold;
  font-variant: normal;
  font-weight: 700;
  line-height: 45px;
  color: #ffffff;
}

.acceuil p0 {
  font-family: "Annie Use Your Telescope";
  font-size: 50px;
  font-style: bold;
  font-variant: normal;
  font-weight: lighter;
  line-height: 45px;
  color: #ffffff;
}

.acceuil h {
  font-family: "Cabin Sketch";
  font-size: 100px;
  font-style: bold;
  font-variant: normal;
  font-weight: 700;
  line-height: 120px;
  color: #ffffff;
}

.contacts .container .navbar {
width: 80%;
position: relative;
margin: 0 auto;
margin-bottom: 50px;
}

.contacts .navbar .descr p {
  float: left;
  width: 40%;
  height: 90px;
  margin-top: 25px;
  text-align: center;
}

.contacts .navbar .liste {
  float: right;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 25%;
}

.contacts .navbar .liste ul li{
         display: inline-block;
         margin: 15px 10px;
         z-index: -2;
}

.liste a:hover {
  padding: 49px 10px 0;
  border-radius: 20%;
  background-color: hsla(9, 100%, 64%, 0.5);
  z-index: 3;
}

.closer {
  text-align: center;
  padding: 10px 0 3px;
  border-top: 1px groove;
  border-color: #e03a36;
}

.closer li {
  margin: 15px;
}

.portfolio {
margin-top: 1100px;
width: 1200px;
margin: auto;
margin-bottom: 250px;
}

.portfolio li {
  font-family: "Londrina Sketch";
  font-size: 60px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 60px;
  color: #787878;
  margin: 90px;
  display: inline-block;
  text-align: center;
}

.portfolio a:hover {
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  text-shadow:
    0 0 5px #ff002b,
    0 0 10px #ff002b,
    0 0 20px #ff002b,
    0 0 40px #ff0000,
    0 0 80px #ff0000,
    0 0 90px #ff0000,
    0 0 100px #ff0000,
    0 0 150px #ff0000;
  z-index: 3;
}

.about .container .navbar {
width: 90%;
position: relative;
margin-left: 100px;
padding: 200px auto 200px;
}

.about .navbar .me p {
  float: left;
  width: 60%;
  height: 90px;
  margin-top: 50px;
  margin-bottom: 250px;
}

.about .navbar img {
  position: relative;
  margin: 50px 0 20px 30px;
}

.Menu a:link {
  background-color: transparent;
  text-decoration: none;
  text-transform: invisible;
}


.Menu a:hover
{
            color: hsla(9, 100%, 64%, 0.5);
            background-color: transparent;

}

head
{
  color: black;
  image-orientation: left;
}

body
{
  background-color: #000000;
  background-position: center;
}



p2, p3, p, li
{
             font-family: "Annie Use Your Telescope";
             font-size: 36px;
             font-style: normal;
             font-variant: normal;
             font-weight: 400;
             line-height: 50px;
             color: #ffffff;
}

li { font-family: "Annie Use Your Telescope";
      font-size: 20px;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 20px;
      color: #ffffff;
      display: inline-block;
      margin-top: 10px;
}

a:link
{
         color: #787878;
         background-color: transparent;
         text-decoration: none;
         z-index: 3;
}

li a:hover
{
            color: hsla(9, 100%, 64%, 0.5);
            background-color: transparent;
            text-decoration: underline;
            z-index: 4;
}

a:visited {
  color: #787878;
  background-color: transparent;
  text-decoration: none;
  z-index: 3;
}

#quote {
  quotes: "“" "”";
}

#About_me {
     text-align: center;
     font-family: "Cabin Sketch";
     font-size: 70px;
     font-style: bold;
     font-variant: normal;
     font-weight: 700;
     line-height: 80px;
     color: #ffffff;
}

#Portfolio {
     text-align: center;
     font-family: "Cabin Sketch";
     font-size: 90px;
     font-style: bold;
     font-variant: normal;
     font-weight: 700;
     line-height: 80px;
     color: #ffffff;
}

#Contact {
     text-align: center;
     font-family: "Cabin Sketch";
     font-size: 110px;
     font-style: bold;
     font-variant: normal;
     font-weight: 700;
     line-height: 80px;
     color: #ffffff;
}

#footer
{
         font-family: "antique olive";
         font-size: 14px;
         text-align: center;
         color: white;
         padding: 20px 50px 0 50px;
         border-top: 0.5px groove;
         border-color: #e03a36;
         margin-bottom: 20px;
}
}
</style>
</head>
